html, body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container img{
    height: 300px;
    width: 340px;
    display: flex;
}


.login{
    display: flex;
    flex-direction: column;
    height: 45%;
    width: 30%;
}

.labelBranco{
    color: white;
}

.inputLogin{
    width: 100%;
    height: 50%;
    background-color: #3a3a3a;
    border-radius: 10px;
    border: solid white 1px;
    color: white;
    font-size: 20px;
}


.submit{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.enviar{
    background-color: #2fb23c;
    border-radius: 10px;
    border: none;
    width: 40%;
    height: 40%;
    color: white;
    transition: 0.3s;
    font-size: 25px;
}
.enviar:hover{
    background-color: #05640e;
}